.medium-ring {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4.1666666667px solid #fe6601;
  filter: drop-shadow(2.5px 2.5px 2px #cb5201);
}

.big-ring {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 16.6666666667px solid #fbca05;
  filter: drop-shadow(10px 10px 2px #caa203);
}

.small-ring:nth-child(1) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0.8333333333px solid #222;
  filter: drop-shadow(0.5px 0.5px 2px #090909);
  margin-left: -2;
}

.small-ring:nth-child(2) {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1.6666666667px solid #222;
  filter: drop-shadow(1px 1px 2px #090909);
  margin-left: -4;
}

.small-ring:nth-child(3) {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2.5px solid #222;
  filter: drop-shadow(1.5px 1.5px 2px #090909);
  margin-left: -6;
}

.small-ring:nth-child(4) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3.3333333333px solid #222;
  filter: drop-shadow(2px 2px 2px #090909);
  margin-left: -8;
}

.small-ring:nth-child(5) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4.1666666667px solid #222;
  filter: drop-shadow(2.5px 2.5px 2px #090909);
  margin-left: -10;
}

.small-ring:nth-child(6) {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #222;
  filter: drop-shadow(3px 3px 2px #090909);
  margin-left: -12;
}